<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/react/react.js"></script>
        <script src="/javascripts/react/react-dom.js"></script>
        <script src="/javascripts/react/babel.min.js"></script>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <div id="root"></div>
        <script type="text/babel" src="/javascripts/react/index.jsx"></script>
    </body>
</html>
